<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
<script src="../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="shortcut icon" href="{% static 'img/vimeo_panda.ico' %}">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Simple Django Blog</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Simple Django Blog</a></h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block neirong %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>